#edit-images-container{
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#edit-btn{
    margin-right: 30px;
    height: 40px;
    width: 140px;
}

#delete-btn{
    height: 40px;
    width: 140px;
}