.devs-tech-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  font-size: 17px;
  gap: 10px;
}

.icon-sizing {
  width: 25px;
  height: 25px;
}

#welp-logo {
  height: 30px;
  margin-top: 10px;
}

#developer-box {
  background-color: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 330px;
}

.dev-intros-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 15px;
}

.intro-dev-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dev-intros-links {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  gap: 5px;
}

.dev-git-linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.dev-headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

#github-fa {
  color: black;
}

#technology-box {
  background-color: #a53f3f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 300px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tech-box-main {
  display: flex;
  gap: 100px;
}

.space-tech-texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tech-texts {
  display: flex;
  align-items: center;
  gap: 5px;
}

#tech-title-underline {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .intro-dev-area,
  .dev-intros-links {
    flex-direction: column;
    align-items: center;
  }

  .dev-intros-container {
    gap: 10px;
  }

  .tech-box-main {
    gap: 15px;
  }
}