@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.description-plus-info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.lower-left-bus-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.reviews-title {
    align-self: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.all-reviews {
    padding: 20px;
}

.reviewer-entire-block {
    display: flex;
    gap: 20px;
    background-color: #e9e9e9;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgb(176, 176, 176);
    transition: box-shadow 0.3s ease;
}

.reviewer-entire-block:hover {
    box-shadow: 1px 2px 8px rgb(77, 76, 76);
}

.reviewer-profile-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #e3e3e3;
}

.reviewer-text-block {
    flex: 1;
}

.reviewer-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.review-sentence {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.4;
    color: #555;
}


.star-rating-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.stars {
    display: flex;
    margin-left: -5px;
    margin-bottom: 15px;
}

.reviews-button-block {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.edit-review-btn {
    height: 30px;
    width: 130px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-review-btn:hover {
    background-color: #d58e31;
}

#write-review-button {
    font-family: Rubik;
    font-size: 16px;
}

.modal-buttons {
    height: 30px;
    width: 130px;
    background-color: #CF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons:hover {
    background-color: #adadad;
    cursor: pointer;
}

.bus-images-bar {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-slider {
    display: flex;
    width: calc(480px * 12);
    animation: scrollLeft 80s linear infinite;
    position: relative;
}

.image-container {
    position: relative;
}

.bus-quad-pic,
.sadface {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.image-container img {
    position: relative;
    z-index: 0;
}


@keyframes scrollLeft {
    100% {
        transform: translateX(-1920px);
    }
}

.bus-quad-pic {
    flex-shrink: 0;
    width: 500px;
    height: 330px;
    object-fit: cover;
}

.sadface {
    width: 500px;
    height: 330px;
    object-fit: cover;
}

.bus-title-block {
    font-family: Rubik;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 18%;
    color: azure;
    gap: 5px;
}

.bus-name {
    margin-bottom: 5px;
}

.review-line {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.bus-hours {
    margin-bottom: 5px;
}

.cat-onebus {
    border: none;
    background-color: #CF0000;
    color: white;
    padding: 6px;
    border-radius: 16px;
    font-weight: bolder;
}

#category-price-block-onebus {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

#open-sign {
    border: none;
    background-color: #333;
    color: #02C585;
    padding: 5px;
    border-radius: 15px;
}

.button-reviews-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.no-reviews {
    font-family: Rubik;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.bus-buttons-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
    padding: 20px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: fit-content;
    font-family: Rubik;
    gap: 20px;
    background-color: #CF0000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgb(176, 176, 176);
    transition: box-shadow 0.3s ease;
}

.info-box:hover {
    box-shadow: 1px 2px 8px rgb(77, 76, 76);
}

.info-box-1 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.info-box-2 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.info-box-3 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.info-box-4 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.bus-description {
    font-family: Rubik;
    margin-left: 30px;
}

.description-title {
    margin-bottom: 20px;
}

.description-text {
    font-size: 17px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0073bb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
