
.lower-left-bus-reviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.reviews-title {
    align-self: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.all-reviews {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.reviewer-entire-block {
    display: flex;
    gap: 20px;
}

.reviewer-profile-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #ddd;
}

.reviewer-text-block {
    flex: 1;
}

.reviewer-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.review-sentence {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.4;
    color: #555;
}


.star-rating-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.stars {
    display: flex;
    margin-left: -5px;
    margin-bottom: 15px;
}

.reviews-button-block {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.edit-review-btn {
    height: 30px;
    width: 130px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-review-btn:hover {
    background-color: #d58e31;
}

.modal-buttons {
    height: 30px;
    width: 130px;
    background-color: #CF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons:hover {
    background-color: #adadad;
    cursor: pointer;
}

.bus-images-bar {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-slider {
    display: flex;
    width: calc(480px * 12);
    animation: scrollLeft 80s linear infinite;
}

@keyframes scrollLeft {
    100% {transform: translateX(-1920px);}
}

.bus-quad-pic {
    flex-shrink: 0;
    width: 480px;
    height: 300px;
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.bus-title-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 18%;
    color: azure;
}

.bus-name {
    margin-bottom: 5px;
}

.review-line {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.bus-hours {
    margin-bottom: 5px;
}

.mid-section {
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 100px;
    justify-content: center;
    margin-top: 30px;
}

.bus-buttons-bar {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    gap: 80px;
}

.info-box-right {
    border: 1px solid black;
    padding: 0 60px 0 60px;
    height: 350px;
}

.info-box-1 {
    padding: 50px 0px 30px;
}

.info-box-2 {
    padding-bottom: 30px;
}

.lower-left-bus-info {
    margin-top: -280px;
    width: max-content;
    justify-self: end;
    align-self: end;
}

.bus-description {
    margin: 30px;
    margin-bottom: 50px;
}

.description-text {
    margin-bottom: 25px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0073bb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
.mid-section{}