@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.no-owned-bus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.your-bus {
  padding: 40px;
  font-family: Rubik;
  font-weight: 500;
}

.create-bus-button {
  font-family: Rubik;
  border: none;
  border-radius: 50px;
  width: fit-content;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  background-color: #E7E7E7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-bus-button:hover {
  background-color: #CF0000;
  color: white;
}
