#smaller-text-signup {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  width: 350px;
}

#signup-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  color: gray;
}

.collapse-fields {
  display: flex;
  gap: 10px;
}

#smaller-input {
  width: 150px;
}

.error {
  color: red;
  font-size: 6px;
  margin-top: 0.5em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
